*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("assests/bg.jpg");
    background-size: 100%;
    background-position: center center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    overflow: auto;
}


.container{
    display: inline-block;
    background: rgba(84, 84, 87, 0.5);
    padding: 2rem;
    border-radius: 1rem;
    height: 340px;
    width: 280px;
    backdrop-filter: blur(100%);
    border: 1px solid rgba(255,255, 255, 0.3);
    max-width: 90%;
    backdrop-filter: blur(100%);
}

.container h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    padding-bottom: 5px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2px;

}

form{
    margin: 2rem 0 2rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    font-size: 1rem;
    height: 2rem ;
    padding-left: 4px;
}
.amount input{
    font-size: 0.75rem;
    color: black;
    width: 100%;
    border-radius: 0.5rem;  
    border:1px solid lightgrey;
    background: none;
    color: #ffffff;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.select-container img{
    max-width: 1.75rem;
}

.select-container{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;  
    border:1px solid lightgrey;
}
.select-container select{
    background: none;
    color:#ffffff ;
}
.dropdown i {
    margin-top: 1rem;
    font-size: 1rem;
}

.select-container select{
    font-size: 0.75rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;

}

form button{
    height: 3rem;
    background-color: #af4D98;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form button:hover{
    background-color: #560b45;
}

/* Styles for mobile landscape screens */
@media (max-width: 1024px) and (orientation: landscape) {
    .container {
        width: 40%;
        background-size: auto; /* Adjust background size as needed */
        background-position: center center; /* Adjust background position as needed */
    }
}

